@use 'src/styles/vars';

// j'ai changé le nom je ne sais pas pourquoi dans le code.
// aurait du s'appeler .currencies--open
.currency--open {
  height: 500px;
  position: relative;
  // transition: height vars.$slowTransition ease-in-out;
}

.currencies {
  // balise principale
  overflow-y: scroll;
  height: 0px;
  color: vars.$mainColor;
  font-size: 1.5rem;
  font-weight: 500;
  box-shadow:
    inset 0px 11px 8px -12px vars.$altColor,
    inset 0px -11px 8px -12px vars.$altColor;
  transition: height vars.$slowTransition ease-in-out;
  position: relative;

  &-title {
    // n'existe plus
    padding: 1.5rem;
    border-bottom: 1px solid vars.$altColor;
  }

  &-search {
    // ligne de recherche
    padding: vars.$gutter;
    border: none;
    width: 485px;
    font-size: 24px;
    height: 0px;
    transition: height 2s;

    &--open {
      position: sticky;
      top: 0;
      /* Don't forget this, required for the stickiness */
      padding: vars.$gutter;
      border: none;
      width: 485px;
      color: vars.$mainColor;
      font-size: 24px;
      height: 60px;
    }

    &::placeholder {
      color: vars.$altColor;
    }
  }

  &-currencies {

    // div qui englobe les lignes devises 
    &-item {
      // lignes des devies
      padding: 1rem;
      border-bottom: 1px solid vars.$altColor;
      transition: background-color 1s;
      cursor: pointer;
      display: flex;
      justify-content: space-between;

      &-rate {
        opacity: 0;
        transition: opacity 1s;
      }

      &:hover {

        .currencies-currencies-item-rate {
          opacity: 1;
          transition: opacity 1s;
        }
      }
    }

    &-item:hover {
      background-color: vars.$altColor;
      transition: background-color 0.5s;
    }
  }

}
